:root {
  --background-color: #0D0D0D; /* Primary text color */
  --primary-color: #EEEEEE;
  --text-color: #919191; /* Accent color for highlights */
  --line-color: #535353;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 28px;
  color: var(--text-color);
}


body {
  width: 100%; /* 100% of the viewport width */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  background-color: var(--background-color);


}

/* ---------- RESPONSIVE LAYOUT-----------------  */

.container {
  column-count: 4; /* Default to 4 columns */
  column-gap: 3rem; /* Gap between columns */
  padding: 3rem;
}

.column {
  
  /* border: 1px solid red; */
  
  break-inside: avoid; /* Prevent breaking items across columns */
}

.column-content {
  padding-bottom: 4rem;
}

/* Media Queries for Responsive Layout */
@media (max-width: 1200px) {
  .container {
    column-count: 3; /* 3 columns on medium screens */
  }
}

@media (max-width: 800px) {
  .container {
    column-count: 2; /* 2 columns on smaller screens */
  }
}

@media (max-width: 600px) {
  .container {
    column-count: 1; /* 1 column on mobile */
    padding: 4rem 1rem;
  }

  .title::after {
    content: "";
    display: inline-block;
    height: 0.2rem;
    vertical-align:middle;
    width: 100%;
    margin-right: -100%;
    margin-left: 20px;
    border-top: 1px solid var(--line-color);
  }
  
}


/* -------------- DETAILS -------------------- */

.column-title {
  position: relative;
  padding-bottom: 30px;
  /* border: 1px green solid; */
}

.title {
  overflow: hidden;
}


.special::after {
  border: 0;
}

p, .item {
  margin-bottom: 30px;
}

.title, .item-title, .item-title a, p a {
  color: var(--primary-color);
  
}




/* ---------------EXTRAS ------------------ */
  a {
    text-decoration: none;
    color: var(--text-color);
  }

  ul {
    list-style-type: none;
  }

  .other-link {
    text-decoration: none;
    color: var(--text-color);
    
    position: relative;
    display: inline-flex;
  }


  
  .arrow {
   padding-left: 10px;
   color: var(--text-color);
  }

  

.profile-pic-container {
  width: 100px;
  height: 100px;
  
  

  overflow: hidden;
  /* border: 3px red solid; */
}

.profile-pic {
  width: 120%; /* Ensure the image covers the container */
  height: 120%; /* Ensure the image covers the container */
  object-fit:cover; /* Crop the image to fit the container */
  object-position: -60px; /* Center the image within the container */
  /* You can change object-position to other values such as top, bottom, left, right */
}


footer {
  height: 0px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.copy {
  position: absolute;
  bottom: 20%;
  font-weight: 500;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--accent-color);
  
}

/* -------------------------------------------- MOBILE VIEW  --------------------------------------- */






