:root {
  --background-color: #0D0D0D; /* Primary text color */
  --primary-color: #EEEEEE;
  --text-color: #919191; /* Accent color for highlights */
  --line-color: #353535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 28px;
  color: var(--text-color);
}


body {
  width: 100%; /* 100% of the viewport width */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  background-color: var(--background-color);


}

/* ---------- RESPONSIVE LAYOUT-----------------  */

.container {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to the next line */
  justify-content: space-between;
  max-width: 100%; /* Full width for small screens */
  margin: 0 auto;  /* Centering the container */
  padding: 2.5rem; /* Add some padding around */
  gap: 2.5rem;
}

/* Column Styling */
.column {
  
  flex: 1 1 calc(25% - 2.5rem);
  margin-bottom: 1rem;
  
  /* border: 1px solid red; */
}

/* 4 Columns on Large Screens (Desktops) */
@media (min-width: 1200px) {
  .container {
     /*max-width: 1200px;  Set max width for large screens */
  }
  .column {
    flex: 1 1 23%; /* 23% width for each column, 4 columns with gaps */
  }
}

/* 3 Columns on Tablets */
@media (min-width: 800px) and (max-width: 1199px) {
  .column {
    flex: 1 1 30%; /* 3 columns on tablet-sized screens */
  }
  .container {
     /* max-width: 1000px; Optional max width for tablets */
  }
}

/* 2 Columns on Smaller Tablets or Landscape Phones */
@media (min-width: 600px) and (max-width: 799px) {
  .column {
    flex: 1 1 45%; /* 2 columns with space between */
  }
  .container {
     /* max-width: 800px; Optional, can center the content */
  }
}

/* 1 Column on Mobile */
@media (max-width: 599px) {
  .column {
    flex: 1 1 100%; /* 1 column full width */
  }
}


/* -------------- DETAILS -------------------- */

.column-title {
  padding-bottom: 30px;
  
}

p, .item {
  margin-bottom: 30px;
}

.title, .item-title {
  color: var(--primary-color);
}



/* ---------------EXTRAS ------------------ */
  a {
    text-decoration: none;
    color: var(--primary-color);
  }

  ul {
    list-style-type: none;
  }

  .other-link {
    text-decoration: none;
    color: var(--text-color);
    
    position: relative;
    display: inline-flex;
  }


  
  .arrow {
   padding-left: 15px;
  }

  

.profile-pic-container {
  width: 12rem;
  height: 18rem;
  
  margin-left: 30px;

  overflow: hidden;
  /* border: 3px red solid; */
}

.profile-pic {
  width: 120%; /* Ensure the image covers the container */
  height: 120%; /* Ensure the image covers the container */
  object-fit:cover; /* Crop the image to fit the container */
  object-position: -60px; /* Center the image within the container */
  /* You can change object-position to other values such as top, bottom, left, right */
}


footer {
  height: 0px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.copy {
  position: absolute;
  bottom: 20%;
  font-weight: 500;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--accent-color);
  
}

/* -------------------------------------------- MOBILE VIEW  ---------------------------------------*/









  .profile-pic-container {
    width: 100%;
    height: 12rem;
    
    margin: 0;
  
    overflow: hidden;
    /* border: 3px red solid; */
  }
  
  .profile-pic {
    width: 120%; /* Ensure the image covers the container */
    height: 120%; /* Ensure the image covers the container */
    object-fit:cover; /* Crop the image to fit the container */
    object-position: -60px -110px; /* Center the image within the container */
    /* You can change object-position to other values such as top, bottom, left, right */
  }







